*{
  box-sizing: border-box;
}

.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column ;
  align-items: center;
}

.header {
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  font-family: "Blogger Sans", sans-serif;
  color: dodgerblue;
}

.content {
  display: none;
}